$element-base-color: #2e1f71;
$grid-base-color: #9489d0;
$layout-structure-base-color: #d7d1f9;
$data-structure-base-color: #f4f26f;
$attribute-type-base-color: #f4d26f;
$search-task-base-color: #d3d3d3;





* {
  font-family: 'Roboto', sans-serif;
}